<!DOCTYPE html>
<html>
<head>
  <title>UrlShortener</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div>
			<p class="lead"> A lovely bit.ly clone done with Ruby on Rails.</p>
		</div>
		<%= yield %>
	</div>
</body>
</html>
